<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Autores</span>
                    <div class="text-900 font-medium text-xl">
                        {{ (authors && authors.length) || "1+" }}
                    </div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-user text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">1 nuevo </span>
            <span class="text-500">desde la última visita</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Editoriales</span
                    >
                    <div class="text-900 font-medium text-xl">
                        {{ (editorials && editorials.length) || "1+" }}
                    </div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-home text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">1 más </span>
            <span class="text-500">desde la última semana</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Libros</span>
                    <div class="text-900 font-medium text-xl">
                        {{ (books && books.length) || "1+" }}
                    </div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-book text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">En catalogo </span>
            <span class="text-500">, estado actual</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Generos registrados</span
                    >
                    <div class="text-900 font-medium text-xl">
                        {{ (genres && genres.length) || "1+" }}
                    </div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-purple-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-star text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">Actualmente activos</span>
            <span class="text-500"> y listos para asociar</span>
        </div>
    </div>

    <div class="col-12 xl:col-12">
        <div class="card">
            <h5>Books</h5>

            <!-- <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button
                        pButton
                        pRipple
                        label="New"
                        icon="pi pi-plus"
                        class="p-button-success p-mr-2"
                        (click)="openNew()"
                    ></button>
                </ng-template>
            </p-toolbar> -->

            <p-table
                #dt
                [value]="books"
                [rows]="10"
                [paginator]="true"
                [globalFilterFields]="['title', 'editorialName', 'authorName', 'year']"
                [rowHover]="true"
                dataKey="bookId"
                currentPageReportTemplate="Mostrando {first} / {last} de {totalRecords} registros"
                [showCurrentPageReport]="true"
            >
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <h5 class="p-m-0">Inventario actual</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="
                                    dt.filterGlobal(
                                        $event.target.value,
                                        'contains'
                                    )
                                "
                                placeholder="Buscar..."
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="title">
                            Titulo <p-sortIcon field="title"></p-sortIcon>
                        </th>
                        <th pSortableColumn="authorName">
                            Nombre del (la) Autor(a)
                            <p-sortIcon field="authorName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="genreName">
                            Genero <p-sortIcon field="genreName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="editorialName">
                            Editorial
                            <p-sortIcon field="editorialName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="year">
                            Año <p-sortIcon field="year"></p-sortIcon>
                        </th>
                        <th pSortableColumn="numberOfPages">
                            Número de páginas
                            <p-sortIcon field="numberOfPages"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-book>
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.authorName }}</td>
                        <td>{{ book.genreName }}</td>
                        <td>{{ book.editorialName }}</td>
                        <td>
                            {{ book.year | date: "mediumDate" }}
                        </td>
                        <td>
                            {{ book.numberOfPages }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Hay un total de
                        {{ books ? books.length : 0 }} libros.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
