<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Orders</span>
                    <div class="text-900 font-medium text-xl">152</div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">24 new </span>
            <span class="text-500">since last visit</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Revenue</span>
                    <div class="text-900 font-medium text-xl">$2.100</div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">%52+ </span>
            <span class="text-500">since last week</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Customers</span
                    >
                    <div class="text-900 font-medium text-xl">28441</div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">520 </span>
            <span class="text-500">newly registered</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Comments</span
                    >
                    <div class="text-900 font-medium text-xl">152 Unread</div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-purple-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-comment text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">85 </span>
            <span class="text-500">responded</span>
        </div>
    </div>

    <div class="col-12 xl:col-12">
        <div class="card">
            <h5>Books</h5>

            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button
                        pButton
                        pRipple
                        label="New"
                        icon="pi pi-plus"
                        class="p-button-success p-mr-2"
                        (click)="openNew()"
                    ></button>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [value]="books"
                [rows]="10"
                [paginator]="true"
                [globalFilterFields]="['title', 'editorialName', 'authorName']"
                [rowHover]="true"
                dataKey="bookId"
                currentPageReportTemplate="Mostrando {first} / {last} de {totalRecords} registros"
                [showCurrentPageReport]="true"
            >
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <h5 class="p-m-0">Inventario actual</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="
                                    dt.filterGlobal(
                                        $event.target.value,
                                        'contains'
                                    )
                                "
                                placeholder="Buscar..."
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="title">
                            Titulo <p-sortIcon field="title"></p-sortIcon>
                        </th>
                        <th pSortableColumn="authorName">
                            Nombre del (la) Autor(a)
                            <p-sortIcon field="authorName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="genreName">
                            Genero <p-sortIcon field="genreName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="editorialName">
                            Editorial
                            <p-sortIcon field="editorialName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="year">
                            Año <p-sortIcon field="year"></p-sortIcon>
                        </th>
                        <th pSortableColumn="numberOfPages">
                            Número de páginas
                            <p-sortIcon field="numberOfPages"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-book>
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.authorName }}</td>
                        <td>{{ book.genreName }}</td>
                        <td>{{ book.editorialName }}</td>
                        <td>
                            {{ book.year | date: "mediumDate" }}
                        </td>
                        <td>
                            {{ book.numberOfPages }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Hay un total de
                        {{ books ? books.length : 0 }} libros.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <!--Dialog begins-->
        <p-dialog
            [(visible)]="bookDialog"
            [style]="{ width: '450px' }"
            header="Product Details"
            [modal]="true"
            styleClass="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="p-field">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        pInputText
                        id="name"
                        [(ngModel)]="product.name"
                        required
                        autofocus
                    />
                    <small class="p-invalid" *ngIf="submitted && !product.name"
                        >Name is required.</small
                    >
                </div>
                <div class="p-field">
                    <label for="description">Description</label>
                    <textarea
                        id="description"
                        pInputTextarea
                        [(ngModel)]="product.description"
                        required
                        rows="3"
                        cols="20"
                    ></textarea>
                </div>

                <div class="p-field">
                    <label class="p-mb-3">Category</label>
                    <div class="p-formgrid p-grid">
                        <div class="p-field-radiobutton p-col-6">
                            <p-radioButton
                                id="category1"
                                name="category"
                                value="Accessories"
                                [(ngModel)]="product.category"
                            ></p-radioButton>
                            <label for="category1">Accessories</label>
                        </div>
                        <div class="p-field-radiobutton p-col-6">
                            <p-radioButton
                                id="category2"
                                name="category"
                                value="Clothing"
                                [(ngModel)]="product.category"
                            ></p-radioButton>
                            <label for="category2">Clothing</label>
                        </div>
                        <div class="p-field-radiobutton p-col-6">
                            <p-radioButton
                                id="category3"
                                name="category"
                                value="Electronics"
                                [(ngModel)]="product.category"
                            ></p-radioButton>
                            <label for="category3">Electronics</label>
                        </div>
                        <div class="p-field-radiobutton p-col-6">
                            <p-radioButton
                                id="category4"
                                name="category"
                                value="Fitness"
                                [(ngModel)]="product.category"
                            ></p-radioButton>
                            <label for="category4">Fitness</label>
                        </div>
                    </div>
                </div>

                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="price">Price</label>
                        <p-inputNumber
                            id="price"
                            [(ngModel)]="product.price"
                            mode="currency"
                            currency="USD"
                            locale="en-US"
                        ></p-inputNumber>
                    </div>
                    <div class="p-field p-col">
                        <label for="quantity">Quantity</label>
                        <p-inputNumber
                            id="quantity"
                            [(ngModel)]="product.quantity"
                        ></p-inputNumber>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancel"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Save"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveProduct()"
                ></button>
            </ng-template>
        </p-dialog>

        <!--Dialog ends-->

        <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
    </div>
</div>
